body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2c3e50);
  display: flex;
  height: 100vh;
  color: #fff;
  padding-top: 0px;
}

.sidebar {
  width: 250px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.sidebar h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 40px 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.sidebar .active a {
  font-weight: bold;
  color: #a5d8ff;
}

.dashboard {
  flex: 1;
  padding: 0;
  overflow-y: auto;
}

header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59,130,246,0.6);
    padding: 0px 40px 0px 30px;
    width: 96%;
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    gap: 40px;
}

.user-info .logout-btn {
    background-color: #f56a6a;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.user-info .logout-btn:hover {
    background-color: #403f3f;
    transition-duration: 1s;
}

header h1 {
  font-size: 24px;
  margin: 30px;
}

header p {
  font-size: 14px;
  color: #a5d8ff;
  margin: 30px;
}

.table-card,
.form-card {
  background: rgba(255,255,255,0.1);
  border-radius: 16px;
  padding: 30px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  vertical-align: middle;
}

.report-actions {
  display: flex;
  gap: 15px;
  margin: 30px;
}

.export-btn {
  padding: 12px;
  background: rgba(0,200,83,0.6);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.export-btn:hover {
  background: rgba(0,200,83,0.8);
}